
universal-selector{
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium';
    margin: 0;
      
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.5em;}
h3{ font-size: 2em;}
p{ font-size: 1em;}
ul{list-style: none;}


button{
    background-color: darkcyan;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1px 30px;
   
}

button:hover{
    background-color: cyan;
}

.container{
    margin: auto;
    max-width: 1200px;
}
header{
    background-color: aliceblue;
}

header .container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

header .logo{
    color: black;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 25px 30px;
    
}

.color-acento{
    color: rgb(224, 115, 115);
}

#conoce-mas .container{
    padding: 20px 10px;
    text-align:center;
 
}

#conoce-mas .carta{
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    color: aliceblue;
    margin: 20px;
    padding: 50px;
    text-align: center;
    
}

.carta:first-child{
    background-image: linear-gradient(
                    0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(img/yo.png);
    
        
        
}
.carta:nth-child(2){
    background-image: linear-gradient(
                    0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(img/Rana.jpg);
    
    
    
}
.carta:nth-child(3){
    background-image: linear-gradient(
                    0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(img/Contactame.jpg);
    
    
    
}

footer{
    background-color: darkcyan;
    color:aliceblue;
    font-size: 1.5em;
}
footer .p{
    margin:0;
}
footer .container{
    align-items: flex-end;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 20px;
}
@media(min-width: 720px){

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #conoce-mas .ligas{
        display: flex;
        justify-content: center;
    }

     #conoce-mas .p{
         display: block;
         margin-bottom: 30px;
    }
    #conoce-mas .h3{
        margin-top: 0;
    }
    #conoce-mas .carta{
        padding: 50px;
          
    }
    
    footer .conteiner{
        justify-content: flex-end;
    }   
        
         
}